* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

/* Home Page */
.hero {
  background: linear-gradient(to right, #007bff, #00c6ff);
}

.container-fluid {
  padding: 0;
}

.navbar {
  height: 8vh;
  padding: 0 2%;
}

main,
header {
  height: 84vh;
}

/* Projects Page */
main .card {
  height: 380px;
}

main .card .img-container {
  background-color: blue;
  height: 50%;
  width: 100%;
}

main .card .img-container img {
  width: 100%;
  height: 100%;
}

main .card .card-body {
  height: 40%;
  overflow-y: auto;
}

main .card .card-footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 49%;
}

main form {
  width: 100%;
  max-width: 1080px;
}

footer {
  height: 8vh;
}
