/* Custom CSS styles */
body {
  background-image: linear-gradient(
    305deg,
    hsl(231deg 100% 20%) 0%,
    hsl(206deg 100% 33%) 11%,
    hsl(181deg 100% 47%) 22%,
    hsl(180deg 96% 60%) 33%,
    hsl(187deg 90% 73%) 44%,
    hsl(198deg 90% 73%) 56%,
    hsl(212deg 96% 60%) 67%,
    hsl(216deg 100% 50%) 78%,
    hsl(186deg 100% 50%) 89%,
    hsl(156deg 100% 50%) 100%
  );
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

.countdown {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.countdown div {
  text-align: center;
  margin: 0 20px;
}

.countdown span {
  font-size: 50px;
  font-weight: 900;
  text-decoration: underline;
  color: honeydew;
}

.smalltext {
  font-size: 20px;
  color: black;
  font-weight: 900;
}

.input-group {
  margin-top: 20px;
}
